{% extends "base.html" %}

{% block content %}
<h1>Log in to create your blog post!</h1>
<p>If you don't have an account, you may <a href="/signup">Sign Up</a> for one</p>
<form action="/login" method="post">
    <td><label for="username">Username</label></td>
    <td>
    <br>
    <input name="username" type="text" value="{{ username }}">
    </td>     
    <span class='error'>{{user_error}}</span>
    <br>
    <td><label for="password">Password</label></td>
    <td>
    <br>
    <input name="password" type="password">
    </td>
    <span class='error'>{{password_error}}</span>
    <br>
    <input type="submit" value="Login">
</form>
{% endblock %}